@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #505a46;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Windows98font';
  src: url('/fonts/Windows Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Windows98font', Arial, Helvetica, sans-serif;
}

